@use "../utils" as *;

main {
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: var(--space-300);
  place-content: center;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 20rem;
    background-color: var(--purple-950);
    background-image: url("/background-pattern-desktop.svg");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: -1;

    @include mq(s) {
      background-image: url("/background-pattern-mobile.svg");
    }
  }
}
